<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Chat Log</title>
    <meta name=viewport content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="Chat Logs">

    <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="icon" href="/favicon.ico" type="image/vnd.microsoft.icon">

    <!-- start of SEO area -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta property="og:title" content="Chat Log" />
    <meta property="og:type" content="website" />
    <!-- <meta property="og:url" content="http://jsbin.com/" /> -->
    <!-- <meta property="og:image" content="http://jsbin.com/favicon.ico" /> -->
    <!-- end of SEO area -->

    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/index.css" rel="stylesheet" type="text/css" />

  </head>
  <body>
    <div class="wrap-outer">
      <div class="wrap-inner">
        <div class="main-wrap">
          <div class="title">IRC LOG BOT</div>
          <div class="item-wrap">
              <a href="/photo-wall/1">
                <button class="item" >Photo wall</button>
              </a>
              <% for (var i = 0; i < globalConfig.indexItems.length; i++) {
                   var item = globalConfig.indexItems[i]; %>
                <a href="<%= item.path %>">
                  <button class="item" ><%= item.text %></button>
                </a>
              <% } %>
          </div>
          <div class="punch-title">Punch Card for user</div>
          <div class="punch-body" id="punch-user">
            <input type="text" placeholder="type name here..."></input>
            <button>go</button>
          </div>
          <div class="punch-title">Punch Card for channel</div>
          <div class="punch-body" id="punch-channel">
            <input type="text" placeholder="type channel here..."></input>
            <button>go</button>
          </div>
        </div>
      </div>
    </div>
    
    <script src="/components/jquery/dist/jquery.min.js"></script>
    <script>
      function jumpUser() {
        var username = $("#punch-user input").val();
        if (!username) {
          alert('you must type a user name')
          return;
        }
        document.location.href = "/punch/user/" + username;
      }
      function jumpChannel() {
        var channelName = $("#punch-channel input").val();
        if (!channelName) {
          alert('you must type a channel name')
          return;
        }
        document.location.href = "/punch/channel/" + channelName;
      }
      $("#punch-user button").click(jumpUser);
      $("#punch-user input").keypress(function(e) {
        if(e.which == 13) {
          jumpUser();
        }
      });
      $("#punch-channel button").click(jumpChannel);
      $("#punch-channel input").keypress(function(e) {
        if(e.which == 13) {
          jumpChannel();
        }
      });
    </script>
  </body>
</html>