a, a:link, a:visited, a:hover, a:focus, a:active {
  color: inherit;
  text-decoration: none;
}
a:hover, a:focus  {
  text-decoration: underline;
}

body, html {
  background: #eee;
}

.anchor {
  display:block;
  height:0px;
  width:0px;
}

#messages {
  position:relative;
  margin: 0.5em;
}
#messages .message > div {
  /*overflow: hidden;*/
  float: left;
  background: transparent;
  box-sizing: border-box;
  padding: 8px;
  font-size:16px;
  line-height:20px;
}

#messages .message:after {
  display: table;
  content: "ã€€";
  clear: both;
  font-size: 0px;
}

#messages .message .time {
  /*width : 40%;*/
  color : #888888;
}
#messages .message .from {
 /* width : 60%;*/
}
#messages .message .word {
  width : 100%;
  font-family: monospace;
  white-space: pre-wrap;
  word-break: break-all;
  -moz-hyphens: auto;
  hyphens: auto;
}

#messages .message .word a {
  text-decoration: underline;
}
#messages .message .word a:hover {
  color: blue;
}
#messages .head {
  display:none;
}

#messages .message {
  overflow: hidden;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  background: #fefefe;
  border-radius: 1px;
  box-shadow: 0px 1px 1px 1px #ccc;
}
  
.media {
  cursor: pointer;
  vertical-align: middle;
}

.media_photo, .media_video{
  border-radius: 4px;
  box-shadow: 0px 0px 2px 1px #777777;
}

.media_wrap {
  display: inline-block;
  line-height: 0px;
  vertical-align: middle;
}

#messages .message .word audio {
  vertical-align: middle;
}

@media only screen and (min-width: 600px) {
  #messages .message:nth-child(2n+1) {
    background : transparent;
  }
  #messages .message {
    border-bottom: #bbbbbb solid 1px;
    
    margin-top: 0em;
    margin-bottom: 0em;
    background: transparent;
    border-radius: 0px;
    box-shadow: none;
  }
  #messages .message .time {
    min-width:120px;
  }
  #messages .message .from {
    min-width:120px;
    text-align:right;
  }
  #messages .message .word {
    float: none;
  }
  #messages .message .word {
    float: none;
    width : auto;
    margin-left : 240px;
  }
  #messages {
    margin: 1em;
  }
  body, html {
    background: #fff;
  }
}
