body {
    padding-top: 40px;
}

.header {
    color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 40px;
    background: #448866;
    box-shadow: 0px 0px 4px 2px #666;
    z-index: 99;
}

.button {
    display: inline-block;
    height: 40px;
    border: none;
    /*background:#55aa77;*/
    background: transparent;
    margin: 0px;
    line-height: 40px;
    font-size: 18px;
    color: #eeeeee;
    padding: 0px 0.5em;
    /*box-shadow: 0px 2px 2px 0px #666666;*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.search-wrap {
    padding-bottom: 1em;
    line-height: 10em;
    text-align: center;
    background: #eee;
}

.search-inner {
    vertical-align: middle;
    border-radius: 4px;
    display: inline-block;
    width: 16em;
    position: relative;
    height: 2.5em;
    line-height: 2em;
    overflow: hidden;
    
    -webkit-box-shadow: 2px 2px 5px 0px rgba(170,170,170,1);
    -moz-box-shadow: 2px 2px 5px 0px rgba(170,170,170,1);
    box-shadow: 2px 2px 5px 0px rgba(170,170,170,1);
}

.search-inner .search {
    width: 100%;
    height: 100%;
    line-height: 2em;
    border: none;
    border-bottom: solid 2px #ccc;
    padding-left: 0.5em;
    background: white;
    vertical-align: super;
    /*float: left;*/
    box-sizing: border-box;
    transition: all 0.5s;
}

.search-inner .search:focus {
    border-bottom-color: #cec
}

.search-inner .submit {
    background: #f7f7f7;
    width: 2em;
    height: 2em;
    border: none;
    /* border-bottom: solid 2px #ccc;*/
    box-sizing: content-box;
    vertical-align: middle;
    /* float: right; */
    position: absolute;
    right: 0px;
    bottom: 0px;
    box-sizing: border-box;
    white-space: nowrap;
    padding: 0px;
    height: 100%;
}

.search-wrap .submit::before {
    content: "\f002";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    display: inline-block;
    vertical-align: middle;
}

.search-wrap .submit::after {
    content: "　";
    display: inline-block;
    height: 100%;
    width: 0px;
    font-size: 0px;
    vertical-align: middle;
}

.results .day {
    border-bottom: 1px solid #ccc;
}

.results .item {
    min-height: 1.5em;
    line-height: 1.5em;
    padding: 0.5em;
    transition: all 0.5s;
    overflow: hidden;
    padding-left: 1em;
    padding-right: 1em;
}

.results .day-name {
    overflow: hidden;
    height: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.66em;
    padding-right: 0.66em;
    line-height: 2em;
    font-size: 1.5em;
    border-bottom: 1px solid #d7d7d7;
    /*cursor: pointer;*/
}

.results .open-link {
    display: inline-block;
    min-width: 1.5em;
}

.results .time {
    display: inline-block;
    min-width: 5em;
}

.results .message {
    display: block;
    padding-left: 1em;
    padding-top: 0.5em;
    line-height: 1.5em;
}

.load-more {
    padding: 1em;
    text-align: center;
}

.load-more button {
    background: #ddd;
    padding: 0.7em;
    border: 0px;
    border-radius: 4px;
}

.result-count-wrapper {
  padding: 1.5em;
  text-align: center;
  font-size: 1.2em;
  border-bottom: 1px solid #ddd;
}
.result-count-wrapper .current-search {
  font-style: italic;
}

.hidden {
    display: none;
}


/*
.results .day.fold .day-name {
  border-bottom: none;
}
.results .day.fold .item {
  height: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.results .day.fold .day-name {
  height: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}*/

@media only screen and (min-width: 320px) {
    body {
        padding-top: 56px;
    }
    
    .header {
        height: 56px;
    }
    
    .search-inner {
        width: 18em;
    }
        
    .button {
        height: 56px;
        margin: 0px;
        line-height: 56px;
        font-size: 20px;
    }
}

@media only screen and (min-width: 600px),
(orientation: landscape) {
    body {
        padding-top: 48px;
    }
    .header {
        height: 48px;
    }
    .button {
        height: 48px;
        line-height: 48px;
    }
    .results .item {
        padding-left: 2em;
        padding-right: 2em;
    }
    
    .search-inner {
        width: 20em;
    }
    .results .day-name {
        padding-left: 1em;
        padding-right: 1em;
    }
}